// Fonts
   
@font-face {
  font-family: 'Comfortaa';
  src: url('/font/Comfortaa/Comfortaa-VariableFont_wght.woff2') format('woff2') tech('variations'),
        url('/font/Comfortaa/Comfortaa-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 100 1000;
  font-stretch: 25% 150%;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter';
  src: url('/font/Bitter/Bitter-VariableFont_wght.woff2') format('woff2') tech('variations'),
        url('/font/Bitter/Bitter-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 100 1000;
  font-stretch: 25% 150%;
  font-style:normal;
}

@font-face {
  font-family: 'Bitter';
  src: url('/font/Bitter/Bitter-Italic-VariableFont_wght.woff2') format('woff2') tech('variations'),
        url('/font/Bitter/Bitter-Italic-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 100 1000;
  font-stretch: 25% 150%;
  font-style:italic;
}

@font-face {
  font-family: 'Exo 2';
  src: url('/font/Exo_2/Exo2-VariableFont_wght.woff2') format('woff2') tech('variations'),
        url('/font/Exo_2/Exo2-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 100 1000;
  font-stretch: 25% 150%;
  font-style:normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('/font/Exo_2/Exo2-Italic-VariableFont_wght.woff2') format('woff2') tech('variations'),
        url('/font/Exo_2/Exo2-Italic-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 100 1000;
  font-stretch: 25% 150%;
  font-style:italic;
}